<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<checkout>
			<cart>
                <freeshipping_progress_enable>0</freeshipping_progress_enable>
                <use_freeshipping_method_config>1</use_freeshipping_method_config>
			</cart>
		</checkout>
	</default>
</config>
