<?xml version="1.0" ?>
<!--
/**
 * Copyright © Chris Mallory All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <checkout>
            <cart>
                <freeshipping_progress_enable>0</freeshipping_progress_enable>
                <use_freeshipping_method_config>1</use_freeshipping_method_config>
                <freeshipping_progress_use_subtotal>1</freeshipping_progress_use_subtotal>
                <freeshipping_progress_subtotal_includes_discount>1</freeshipping_progress_subtotal_includes_discount>
            </cart>
        </checkout>
    </default>
</config>
